.fei-message {
  position: fixed;
  left: 50%;
  top: 20px;
  pointer-events: all;
  padding: 10px 16px;
  border-radius: var(--fei-border-radius-default);
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .15);
  background: #fff;
  box-sizing: border-box;
  transform: translateX(-50%);
  transition: opacity 0.3s, transform .4s, top 0.4s;
  overflow: hidden;
  display: flex;
  align-items: center;
  &.is-closable {
    .fei-message__content {
      padding-right: 6px;
    }
  }
  .f-iconfont.f-icon-close {
    cursor: pointer;
    color: var(--fei-color-text-secondary);
    font-size: var(--fei-font-size-default);
    vertical-align: middle;
    line-height: 1

    &:focus {
      outline-width: 0;
    }
    &:hover {
      color: var(--fei-color-text-primary);
    }
  }
}

.fei-message__icon {
  margin-right: 10px;
  font-size: var(--fei-header-font-size);
  &.is-info {
    color: var(--fei-color-primary);
  }
  &.is-success {
    color: var(--fei-color-success);
  }
  &.is-warning {
    color: var(--fei-color-warning);
  }
  &.is-error {
    color: var(--fei-color-danger);
  }
}

.fei-message-fade-enter-from,
.fei-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
