.fei-popover {
  &.fei-popper {
    background: #FFF;
    min-width: 150px;
    border-radius: var(--fei-border-base-radius);
    z-index: 2000;
    color: var(--fei-color-text-default);
    text-align: justify;
    font-size: var(--fei-base-font-size);
    box-shadow: var(--fei-shadow-popper);
    word-break: break-all;
    padding: 12px;
    .fei-popover__title {
      width: 100%;
      line-height: 1;
      margin: 0;
      color: var(--fei-color-text-primary);
      font-weight: 700;
      font-size: var(--fei-header-font-size);
      margin-bottom: 12px;
    }
  }
}
