placeholder() {
  // Firefox
  &::-moz-placeholder {
    color: var(--fei-color-text-placeholder);
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color: var(--fei-color-text-placeholder)
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
    color: var(--fei-color-text-placeholder)
  }
}

.fei-picker__popper.fei-popper[role=tooltip] {
  border: none;
  background-color: var(--fei-white-color);
  box-sizing: border-box;
  border-radius: var(--fei-border-radius-default);
  box-shadow: var(--fei-shadow-down);
  position: absolute;
  z-index: 900;
}

.fei-picker-panel {
  position: relative;
  color: var(--fei-color-text-default);
  background: #fff;
  border-radius: var(--fei-font-size-default);
  line-height: 30px;
}
.fei-date-editor {
  .fei-range-input {
    width: 39%;
    appearance: none;
    border: none;
    outline: none;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: var(--fei-font-size-default);
    color: var(--fei-color-text-default);
    placeholder()
  }

  .fei-range-separator {
    height: 100%;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    line-height: var(--fei-default-height);
    font-size: var(--fei-font-size-default);
    width: 28px;
    color: #303133;
  }
}

// time-pick独有的样式
.fei-time-panel {
  border-radius: var(--fei-border-radius-default);
  position: relative;
  width: 180px;
  left: 0;
  z-index: 1000;
  user-select: none;
  box-sizing: content-box;
  background-color: #FFF;
  &__content {
    font-size: 0;
    position: relative;
    overflow: hidden;
    &:after, &:before {
      content: "";
      top: 50%;
      position: absolute;
      margin-top: -15px;
      height: 32px;
      z-index: -1;
      left: 0;
      right: 0;
      box-sizing: border-box;
      padding-top: 6px;
      text-align: left;
      border-top: var(--fei-border-base);
      border-bottom: var(--fei-border-base);
    }

    &:before {
      padding-left: 50%;
      margin-right: 5%;
      margin-left: 5%;
    }
    &:after {
      left: 50%;
      margin-left: 5%;
      margin-right: 5%;
    }
    &.has-seconds:after {
      left: 66.66667%;
    }
    &.has-seconds:before {
      padding-left: 33.33333%;
    }
  }
  &__footer {
    border-top: var(--fei-border-base);
    padding: 4px;
    height: 32px;
    line-height: 1;
    text-align: right;
    box-sizing: border-box;
    .fei-button {
      line-height: 20px;
      height: 22px;
      font-size: 12px;
    }
  }
}
.fei-time-spinner {
  width: 100%;
  white-space: nowrap;
  &__wrapper {
    max-height: 190px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    position: relative;
    &.is-arrow {
      box-sizing: border-box;
      text-align: center;
      overflow: hidden;
      .fei-time-spinner__list {
        transform: translateY(-32px);
      }
    }
  }
  &.has-seconds .fei-time-spinner__wrapper {
    width: 33.3%;
  }
  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    &:after, &:before {
      content: "";
      display: block;
      width: 100%;
      height: 80px;
    }
  }
  &__item {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: var(--fei-color-text-default);
    &.disabled {
      color: var(--fei-color-text-placeholder);
      cursor: not-allowed;
    }
    &.active:not(.disabled) {
      color: var(--fei-color-text-primary);
      font-weight: 500;
    }
    &:hover:not(.disabled) {
      background-color: var(--fei-color-select-hover);
    }
  }
  &__arrow {
    font-size: 12px;
    color: var(--fei-color-text-secondary);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    &.f-icon-up {
      top: 10px;
    }
    &.f-icon-down {
      bottom: 10px;
    }
  }
}
.fei-time-range-picker {
  width: 340px;
  overflow: visible;
  &__content {
    position: relative;
    text-align: center;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      bottom: 0;
      background-color: var(--fei-border-color-base);
    }
  }
  &__cell {
    box-sizing: border-box;
    margin: 0;
    width: 50%;
    display: inline-block;
  }
  &__header {
    margin-bottom: 5px;
    border-bottom: var(--fei-border-base);
  }
}
.fei-range-editor {
  box-sizing: border-box;
  &.fei-input {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: var(--fei-default-height);
    &.is-active {
      outline: 0;
      border-color: var(--fei-color-primary);
      box-shadow: 0 0 0 2px var(--fei-color-input-shadow);
    }
  }
  .fei-input__icon {
    font-size: var(--fei-font-size-default);
    color: var(--fei-color-text-secondary);
    line-height: 32px;
    width: 16px;
    &.f-icon-close-circle-fill {
      cursor: pointer;
      text-align: right;
    }
  }
  &--large {
    &.fei-input {
      height: var(--fei-large-height);
      .fei-range-input, .fei-input__icon {
        font-size: var(--fei-font-size-large);
      }
    }
  }
  &--small {
    &.fei-input {
      height: var(--fei-small-height);
    }
    .fei-range-separator {
      line-height: var(--fei-small-height);
    }
  }
  &--mini {
    &.fei-input {
      height: var(--fei-mini-height);
    }
    .fei-range-separator {
      line-height: var(--fei-mini-height);
    }
  }
}

