make-row(gutter = 0) {
  position: relative;
  margin-left: (gutter / -2);
  margin-right: (gutter / -2);
  height: auto;
  clear-fix()
}

make-grid(class = '') {
  float-grid-columns(class);
  loop-grid-columns(class);
}

$grid-columns = 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

float-grid-columns(class) {
  for row in $grid-columns {
    .fei-col-span{class}-{row} {
      float: left;
      flex: 0 0 auto;
    }
  }
}

loop-grid-columns(class) {
  for index in $grid-columns {
    .fei-col-span{class}-{index} {
      display: block;
      width: percentage((index / 24));
    }
    .fei-col{class}-push-{index} {
      left: percentage((index / 24));
    }
    .fei-col{class}-pull-{index} {
      right: percentage((index / 24));
    }
    .fei-col{class}-offset-{index} {
      margin-left: percentage((index / 24));
    }
    .fei-col{class}-order-{index} {
      order: index;
    }
  }
  .fei-col-span{class}-{0} {
    display: none;
  }
  .fei-col{class}-push-0 {
    left: auto;
  }
  .fei-col{class}-pull-0 {
    right: auto;
  }
  .fei-col{class}-offset-0 {
    margin-left: 0
  }
  .fei-col{class}-order-0 {
    order: 0;
  }
}

clear-fix() {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

disabled() {
  opacity: 1;
  cursor: not-allowed;
  color: var(--fei-color-text-placeholder);
}
